[Unit]
Description=Scan for Beagle OS updates
After=beagle-thin-client-prepare.service beagle-healthcheck.service network-online.target
Wants=beagle-thin-client-prepare.service beagle-healthcheck.service network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/beagle-update-client scan --auto-apply-if-idle
