[Unit]
Description=Beagle OS endpoint healthcheck
After=beagle-thin-client-prepare.service network-online.target
Wants=beagle-thin-client-prepare.service network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/beagle-healthcheck
