[Unit]
Description=Run Beagle OS update scans periodically

[Timer]
OnBootSec=2min
OnUnitActiveSec=2h
AccuracySec=2min
RandomizedDelaySec=10min
Persistent=true
Unit=beagle-update-scan.service

[Install]
WantedBy=timers.target
