[Unit]
Description=Run Beagle OS endpoint reporting periodically

[Timer]
OnBootSec=25s
OnUnitActiveSec=30s
AccuracySec=5s
Unit=beagle-endpoint-report.service

[Install]
WantedBy=timers.target
