[Unit]
Description=Beagle OS endpoint healthcheck
After=pve-thin-client-prepare.service network-online.target
Wants=pve-thin-client-prepare.service network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/beagle-healthcheck
