[Unit]
Description=Beagle OS runtime heartbeat
After=pve-thin-client-prepare.service network-online.target
Wants=pve-thin-client-prepare.service network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/beagle-runtime-heartbeat
