dist/
.build/
.DS_Store
*.swp
*.swo
*.tmp
*.log
*.pyc
__pycache__/
.tmp-beagle-*
SHA256SUMS
node_modules/
tmp/
beagle-kiosk/*.js
beagle-kiosk/*.html
beagle-kiosk/*.css
beagle-kiosk/games.json
beagle-kiosk/kiosk.conf
