[Unit]
Description=Beagle OS Live network selection
Documentation=file:///usr/local/lib/pve-thin-client/README.md
ConditionKernelCommandLine=pve_thin_client.mode=runtime
ConditionKernelCommandLine=pve_thin_client.network_tui=1
ConditionPathExists=/usr/local/lib/pve-thin-client/runtime/runtime-network-menu.sh
After=local-fs.target systemd-user-sessions.service plymouth-quit-wait.service getty-pre.target
Wants=plymouth-quit-wait.service
Conflicts=getty@tty1.service
Before=beagle-thin-client-prepare.service pve-thin-client-runtime.service getty@tty1.service

[Service]
Type=oneshot
ExecStart=/usr/local/lib/pve-thin-client/runtime/runtime-network-menu.sh
StandardInput=tty-force
StandardOutput=tty
StandardError=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
TimeoutStartSec=0
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
