[Unit]
Description=Prepare PVE thin-client runtime
After=local-fs.target
Before=pve-thin-client-runtime.service getty@tty1.service

[Service]
Type=oneshot
ExecStart=/usr/local/lib/pve-thin-client/runtime/prepare-runtime.sh
UMask=0077
NoNewPrivileges=yes
PrivateTmp=yes
ProtectHome=yes
ProtectControlGroups=yes
ProtectClock=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
LockPersonality=yes
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
