[Unit]
Description=PVE Thin Client Installer TUI (serial)
Documentation=file:///usr/local/lib/pve-thin-client/README.md
ConditionKernelCommandLine=pve_thin_client.mode=installer
ConditionPathExists=/usr/local/bin/pve-thin-client-live-menu
ConditionPathExists=/dev/ttyS0
After=local-fs.target systemd-user-sessions.service plymouth-quit-wait.service serial-getty@ttyS0.service
Wants=plymouth-quit-wait.service
Conflicts=serial-getty@ttyS0.service
Before=serial-getty@ttyS0.service

[Service]
Type=simple
ExecStart=/usr/local/bin/pve-thin-client-live-menu
StandardInput=tty-force
StandardOutput=tty
StandardError=tty
TTYPath=/dev/ttyS0
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
Restart=on-failure
RestartSec=1

[Install]
WantedBy=multi-user.target
