[Unit]
Description=Generate SSH host keys for Beagle installimage systems
DefaultDependencies=no
After=local-fs.target
Before=ssh.service
ConditionPathExists=/usr/bin/ssh-keygen

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/beagle-ssh-hostkeys-prepare
