[Unit]
Description=Beagle OS Control Plane API
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=-/etc/beagle/beagle-manager.env
ExecStart=/usr/bin/python3 __INSTALL_DIR__/beagle-host/bin/beagle-control-plane.py
Restart=on-failure
RestartSec=5
User=beagle-manager
Group=beagle-manager
SupplementaryGroups=libvirt kvm
UMask=0077
NoNewPrivileges=no
PrivateDevices=no
PrivateTmp=yes
ProtectHome=yes
ProtectControlGroups=yes
ProtectClock=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
LockPersonality=yes
ProtectSystem=strict
RestrictRealtime=yes
RestrictSUIDSGID=yes
RuntimeDirectory=beagle-control-plane
RuntimeDirectoryMode=0750
ReadWritePaths=/var/lib/beagle /var/backups/beagle /var/restores/beagle /run/beagle-control-plane -/var/lib/libvirt/images -/var/lib/libvirt/qemu /etc/beagle -/etc/beagle/novnc -/etc/beagle/tls -/etc/letsencrypt -/var/lib/letsencrypt -/var/log/letsencrypt -/var/log/nginx
AmbientCapabilities=CAP_KILL
CapabilityBoundingSet=CAP_KILL

[Install]
WantedBy=multi-user.target
