[Unit]
Description=Run Beagle host system updates regularly

[Timer]
OnBootSec=15min
OnUnitActiveSec=6h
AccuracySec=5min
Unit=beagle-system-updates.service
Persistent=true

[Install]
WantedBy=timers.target
