[Unit]
Description=Run Beagle repo auto update regularly

[Timer]
OnBootSec=7min
OnUnitActiveSec=15min
Unit=beagle-repo-auto-update.service
Persistent=true

[Install]
WantedBy=timers.target
