set default=0
set timeout_style=menu
set timeout=5

insmod all_video
insmod serial
insmod at_keyboard
terminal_input console serial at_keyboard
terminal_output console serial
set gfxpayload=text

menuentry 'Beagle OS Server Installer' {
  linux /live/vmlinuz boot=live components username=root hostname=beagle-server-installer ip=dhcp console=ttyS0,115200n8 console=tty0 systemd.gpt_auto=0 systemd.unit=multi-user.target pve_server_installer=1
  initrd /live/initrd
}

menuentry 'Beagle OS Server Installer (fail-safe mode)' {
  linux /live/vmlinuz boot=live components username=root hostname=beagle-server-installer ip=dhcp console=ttyS0,115200n8 console=tty0 systemd.gpt_auto=0 systemd.unit=multi-user.target pve_server_installer=1 nomodeset noapic
  initrd /live/initrd
}
